*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 190px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    color: #fff;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}




.content{
    color: #fdfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    right: 0;
    top: 0;

}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img, .useful-links img {
    width: 30px;
    margin: 5px;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.social-links img:hover{
    background-color: deepskyblue;
    border-radius: 50%;
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
   bottom: 30px;

}

.useful-links img:hover{
    background-color: deepskyblue;
    border-radius: 50%;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
       
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}


.bubbles img:nth-child(2){
    animation-delay: 4.5s;
}


.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}


.bubbles img:nth-child(4){
    animation-delay: 1s;
}


.bubbles img:nth-child(5){
    animation-delay: 2s;
}


.bubbles img:nth-child(6){
    animation-delay: 4s;
    width: 20px;
}


.bubbles img:nth-child(7){
    animation-delay: 6s;
    width: 35px;
}

@media screen and (max-width: 600px)
 {
    h1{
        font-size: 36px;
        line-height: 50px;
    }
    .side-bar{
        width: 100%;
        height: 50px;
        top: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
        }


        .social-links{
            width: auto;
            position: unset;
            transform: none;
        }
        
        .useful-links{
            width: auto;
            position: unset;
        
        }

        .menu{
 
            width: 18px;
            margin: 0;
    
        }
        .hero{
            background-image: url(/sea.jpg);
        }

        .content{
            color: whitesmoke;
            position: absolute;
            top: 50%;
            left: 8%;
            transform: translateY(-50%);
            z-index: 2;
        }

        button{
            color: #fff;
            padding: 10px 25px;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 20px;
            outline: none;
            cursor: pointer;
            font-size: 15px;
        }

        .logo{
            width: 150px;
        }

 }
 @media screen and (max-width:900px) and (max-width:600px) {
    /* add css for tablet screen size  */
    
 }